[alias]
	cm = commit
	a  = add
	aa = add .
	st = status
	pl = pull
	ps = push
	co = checkout
	br = branch
	df = diff
	acm = !git add . && git commit
[user]
	name = Li Weixun
	email = liweixun@caicloud.io
[push]
	default = simple
[core]
	excludesfile = /Users/eli/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[init]
	templatedir = ~/Configurations/.git_template
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = cache --timeout=3600000
